/* reference 3, the google font i used*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/* reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* basic styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

header {
  background-color: #dd9d2f;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  padding: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-left: auto;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

li {
  text-align: left;
}

a {
  color: #fd0202;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

main {
  margin: 20px auto;
  max-width: 1200px;
}

.panels {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  padding: 50px;
  font-size: 16px;
  font-style: bold;
  background-color: #AA8B56;
  color: #ffffff;
  cursor: pointer;
}

.profile {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.label-container label {
  width: 45%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #AA8B56;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #22345c;
}